<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/lib/semantic.min.js"></script>
    <script src="js/lib/vue.min.js"></script>
    <script src="js/src/main.js"></script>
</head>


<div class="ui container">
    <h1>Hello Demo!!</h1>
</div>

<a class="ui primary button">Primary Brand Color</a>
<a class="ui secondary button">Secondary Brand Color</a>

<script>
var app = new Vue({
el: '#app',
data: {
message: 'Hello Vue!'
}
})

</script>

<div id="app">
    @{{ message }}
</div>

</body>
</html>